@using SciBoard.ViewModels
@model SciBoard.ViewModels.VideoViewModel
<html>

<head>
    <title>Video</title>
</head>
<body>
    <div>Id: @Model.Id</div>
    <div>Title: @Model.Title</div>
    <div>Genre: @Model.Genre</div>
    @Html.ActionLink("Home", "Index")
    
</body>
</html>

