@using SciBoard.ViewModels
@model IEnumerable<SciBoard.ViewModels.VideoViewModel>

<title>Video</title>
<body>
    <table>
        @foreach (var video in Model)
        {
        <tr> 
            @*<td>@video.Id</td>*@ 
            <td>@Html.ActionLink(video.Id.ToString(), "Details", new { id = video.Id })</td>
            <td>@video.Title</td>
            <td>@video.Genre</td>
           
         </tr> 
        }

    </table>
</body>